<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wb322.dao.TableMapper">
    <select id="getTables" resultType="com.github.wb322.entity.Table">
        SELECT DISTINCT t.table_name NAME,c.column_name pkey,c.data_type pkeyType,t.engine, t.table_comment COMMENT, t.create_time createTime
        FROM information_schema.tables t
        LEFT JOIN information_schema.columns c
        ON  (c.table_schema = (SELECT DATABASE())) AND (c.TABLE_NAME = t.TABLE_NAME) AND (c.COLUMN_KEY = 'PRI')
        WHERE t.table_schema = (SELECT DATABASE())
        ORDER BY t.CREATE_TIME DESC
    </select>
</mapper>